.Madison_Pin_Board_logo {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Madison_Pin_Board_footer_button{
    font-size: .9rem;
}

.Madison_Pin_Board_footer {
    text-align: center;
    margin-top: 2rem;
}

.Madison_Pin_Board_header {
    text-align: center;
    margin: 2rem 0;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.Madison_Pin_Board_header_nav {
    margin: 0 0.5rem;
}

.Madison_Pin_Board_header_navbar {
    margin: 1rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
}

